$color-base: #151719;
$color-secondary: #f2d51b;
$color-text: #1f2024;
$color-white: #fff;
$color-border: #ccc;
$color-border-focus: #66afe9;
$color-danger: #e34046;
$color-bg: #f2f2f2;


$font-path: '../fonts'



