.btn {
  position: relative;
  box-sizing: border-box;
  border: .1rem solid $color-secondary;
  outline: none;
  display: flex;
  height: 3.6rem;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  transition: all .3s ease;
  flex-shrink: 0;
  padding: 0 2.5rem;
  cursor: pointer;
  text-transform: uppercase;
  &-loader {
    position: absolute;
    left: -.2rem;
    right: -.2rem;
    top: -.2rem;
    bottom: -.2rem;
    background-color: fade_out($color-white, .3);
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 20;
      border: .4rem solid $color-white;
      border-top: .4rem solid $color-base;
      border-radius: 50%;
      width: 1.8rem;
      height: 1.8rem;
      animation: spin 2s linear infinite;
    }
  }
  &-secondary {
    color: $color-text;
    background-color: $color-secondary;
    &:hover {
      background-color: darken($color-secondary, 3%);
      border-color: darken($color-secondary, 3%);
    }
    &-hover-transparent {
      &:hover {
        background-color: $color-white;
        color: $color-secondary;
      }
    }
    &-transparent {
      color: $color-secondary;
      background-color: $color-white;
      &:hover {
        color: $color-text;
        background-color: $color-secondary;
      }
    }
  }
  &[disabled] {
    pointer-events: none;
  }
}

.wrp-btn {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.auth {
  .btn {
    height: 5rem;
    border-radius: .6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    width: 100%;
  }
}
.profile {
  form {
    > .btn {
      margin-left: auto;
    }
  }
}
