$color-placeholder: #ADADAD;

// поля ввода
*::-webkit-input-placeholder{
  color: $color-placeholder;
  opacity: 1;
}
*:-moz-placeholder{
  color: $color-placeholder;
  opacity: 1;
}
*::-moz-placeholder{
  color: $color-placeholder;
  opacity: 1;
}
*:-ms-input-placeholder{
  color: $color-placeholder;
  opacity: 1;
}
::placeholder{color:$color-placeholder}

input[type="text"],
input[type="email"],
input[type="password"],
textarea
{
  display: block;
  box-sizing: border-box;
  outline: none;
  border-radius: .3rem;
  padding: 0 1rem;
  height: 3.5rem;
  border: .1rem solid $color-border;
  transition: all .3s ease-in-out;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: inherit;
  &:hover {
    border: .1rem solid darken($color-border, 30%);
  }
  &:focus {
    border: .1rem solid $color-border-focus;
  }
  &.is-danger {
    border: .1rem solid $color-danger;
  }
  &[disabled] {
    background-color: #eee;
  }
}

textarea {
  padding: 1.5rem;
  resize: none;
  height: auto;
  font-size: 1.6rem;
}

// Классы для полей ввода
.wrp-field {
  display: block;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  position: relative;
  label {
    display: block;
    margin-bottom: .5rem;
    text-align: left;
  }
  &__static {
    padding-left: 1.5rem;
  }
  &-files {
    display: flex;
    align-items: flex-end;
    > .btn {
      margin-left: 2rem;
    }
  }
}

.auth {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    height: 5rem;
  }
}
