$color-base: #151719;
$color-secondary: #f2d51b;
$color-text: #1f2024;

$border-radius-input: .3rem;
$border-radius-btn-secondary: .6rem;
$border-radius-btn-main: 2rem;

$font-main: "ubuntu", sans-serif;
